<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google fonts - Playfair Display-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700">
    <!-- Google fonts - Poppins-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,700">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
    <!-- Font awesome CDN -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">

    <title></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">The Movie Search</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active mx-3">
                        <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Keşfet</a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(-35px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="/movies">Filmler</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/tv">Diziler</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Filmler</a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(-35px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="/populermovie">Popüler</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/toprated">En çok oy alan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/upcoming">Yükselişte olan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/nowplaying">Şuan oynananlar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Diziler</a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(-35px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="/populartv">Popüler</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/topratedtv">En yüksek oy alan</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/nowplayingtv">Şuan oynananlar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown mx-3">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Oyuncular</a>
                        <div class="dropdown-menu" x-placement="bottom-start"
                            style="position: absolute; transform: translate3d(-35px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="/people">Popüler Oyuncular</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 " action="/search" method="GET">
                    <input class="form-control mr-sm-2" type="text" placeholder="Arama" name="search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">ARA</button>
                </form>
            </div>
        </div>
    </nav>