<% include partials/header %>

<div class="container my-4">
    <div class="row" style="height: 70vh;">
        <div class="col-12 my-1" style="height: 100%;">
            <div class="jumbotron text-center ">
                <h1 class="display-3">The Movie Search</h1>
                <p class="lead my-4">The Movie Search sitesine hoşgeldiniz.</p>
                <p class="lead my-4">Buradan aramak istediğiniz film veya dizileri aratabilirsiniz.</p>
                <hr class="my-4">
                <p>Hadi bir arama yaparak başla.
                </p>
                <p class="lead">
                    <a class="btn btn-primary mt-2 btn-lg" href="/movies" role="button">Devam Et</a>
                </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>